.slide-panel > div.hidden {
	display: none;
}


/**
 * Selector	
 */

.slide-panel > .slide-panel-indicator {
	text-align: center;
}
.slide-panel > .slide-panel-indicator > li {
	display: inline-block;
	background: #999;
	color: #999;
	text-shadow: none;
	font-size: 8px;
	width: 10px;
	height: 10px;
	margin: 0 1px;
}
.slide-panel > .slide-panel-indicator > li.active {
	background: #55F;
	color: #55F;
}
/* THEME */
.slide-panel > .slide-panel-indicator > li.circle {
	border-radius: 10px;
}

.slide-panel > .slide-panel-indicator > li.active.numbered {
	font-weight: bold;
	padding-top: 1px;
	color: #CCC;
}
